.wd-search-field {
  padding-left: 40px;
}
.wd-rounded-corners-all-around {
  border-radius: 50px;
}
.wd-search-color {
  background-color: lightgray;
  color: darkgray;
}
.wd-search-size {
  width: 300px;
  height: 40px;
}
.wd-search-padding {
  padding-left: 45px;
}
.wd-fa-search-icon {
  position: absolute;
  top: 26px;
  left: 205px;
  color: darkgrey;
}
.wd-fa-setting-icon {
  padding-left: 5px;
  color: darkgrey;
}

.wd-tab-container {
  display: flex;
  align-items: center;
}

.wd-tabs {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wd-tab {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

.wd-tab-selected span {
  border-bottom: 2px solid lightskyblue;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.wd-tab span {
  display: inline-block;
}

.wd-tab label {
  display: inline-block;
}
.wd-news-cover {
  width: 400px;
  height: 300px;
  object-fit: fill;
  background-image: url("../../images/newsimage.jpg");
  margin-left: 30px;
}
.wd-news-headline {
  font-size: 30px;
  color: white;
  font-family: Arial;
}
