.wd-bookmarks-top-bar {
  margin: 15px;
}
.wd-fa-arrow-icon {
  color: black;
  float: left;
}
.wd-all-bookmarks-header {
  color: black;
  font-size: 25px;
  font-family: Arial;
}
.wd-arrow-and-all-bookmarks {
  /* width: 25%; */
}
.wd-fa-black-ellipsis-icon {
  color: black;
  float: right;
}
.wd-tuit {
  display: flex;
}
.wd-tuit-profile-pic {
  margin: 0px 15px;
  width: 50px;
  height: 50px;
}
.wd-tuit-body {
  width: 100%;
}
.wd-tuit-header {
  display: flex;
  justify-content: space-between;
}
.wd-tuit-user-info {
  display: flex;
  align-items: center;
}
.wd-tuit-username {
  font-weight: bold;
  font-family: arial;
  margin-right: 5px;
}
.wd-tuit-verified-check {
  width: 15px;
  height: 15px;
}
.wd-tuit-user-handle {
  color: grey;
  font-family: arial;
  margin: 0px 5px;
}
.wd-tuit-date {
  color: grey;
  font-family: arial;
  margin: 0px 5px;
}
.wd-tuit-link {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 10px;
}
.wd-tuit-link-image {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}
.wd-tuit-link-domain {
  color: grey;
}
.wd-tuit-link-description {
  color: grey;
}
.wd-tuit-footer {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}
.wd-tuit-interaction-pair {
  display: flex;
}
.wd-interaction-count {
  margin: 0px 10px;
}
